root {
  --clr-primary: #2962ff;
  --clr-primary-hover: #0d47a1;
  --clr-gray-med: #78909c;
  --clr-gray-light: #cfd8dc;
}


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.theHeading h1 {
    padding: 10px;
    text-align: center;
    background: #78909c;
    color: white;
    font-size: 50px;
}

.main { 
    flex-flow: row wrap;
    align-items: center;
    line-height: 40px;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  .container {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
     top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }

input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.main button {
    padding: 10px 20px;
    background:#78909c;
    border: 1px solid  #78909c;
    color: white;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    left: 59%;
}
.btn {
  padding: 10px 20px;
  background:#ffdb58 ;
  border: 2px solid  black;
  color: black;
  font-size: 20px;
  margin: 5px;
}

main {
  margin-top: 1em;
}

.dispalyed {
  border: 1px solid black;
  background-color: #78909c;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 2em 0em;
  color: white;

}



.alert-box {
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}



@media (max-width: 800px) {
    .main input[type=text], select {
      margin: 10px 0;
      width: auto;
    }

    .main input[type=submit] {
        flex-direction: column;
    }

    
    .main {
      flex-direction: column;
      align-items: stretch;
    }
    .theHeading h1 {
        width: 100%;
        font-size: 30px;
    }
  }